.DS_STORE
.vscode
token.pickle
*.jpg
*.cr2
__pycache__

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/
__pycache__/
*.py[cod]

# museum data
*.fa
*.fasta
testing/
testing